<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NEWS</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
  <ul>
<li>
<span>Dark</span>
<span>Light</span>
</li>
</ul>
<script
  src="https://code.jquery.com/jquery-3.4.0.js">
  </script>
  <script type="text/javascript">
  $(document).ready(function(){
      $('ul').click(function(){
          $('ul').toggleClass('active');
             $('section').toggleClass('dark');
      })
  })
  </script>
  <section>
  <div class="jumbotron">
    <div class="container">
      <h1>{% include "mainApp/includes/some_html.html" %}</h1>
      {% block content %}
      {% endblock %}
      <p>
        <a href="/" class="btn btn-success btn-lg">Page</a>
        <a href="/news" class="btn btn-primary btn-lg">News &raquo;</a>
         <a href="/contact" class="btn btn-info btn-lg">Contact </a>
      </p>
    </div>
  </div>
  <div class="container">
    <img src="{% static 'mainApp/image/news.jpg' %}" class="img-thumbnail">
    <hr>
    &copy; Copyright 2018
  </div>
  </section>
</body>
</html>
